{% extends 'page-display.html.twig' %}

{% block title %}Error 404{% endblock %}

{% block body %}
    <div class="container">

      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <h1>404</h1>
        <h2>Sorry, the requested page was not found.</h2>
        <a class="btn" href="javascript:history.back()">Back</a>
        <img src="assets/img/not-found.svg" class="img-fluid py-5" alt="Page Not Found">
      </section>

    </div>
{% endblock %}